.add-on-present::after {
  content: "...see more";
}

.add-on-addsent::after {
  content: "...see less";
}
.grey-color {
  color: gray;
  pointer-events: none;
}

.close-reply::after {
  content: "...close view";
}

.open-reply::after {
  content: "...open view";
}
.first-card-margin {
  margin-top: 20%;
}
.other-card-margin {
  margin-top: 2.5%;
}
@media screen and (max-width: 810px) {
  .first-card-margin {
    margin-top: 25%;
  }
}

@media screen and (max-width: 749px) {
  .first-card-margin {
    margin-top: 30%;
  }
}
@media screen and (max-width: 440px) {
  .first-card-margin {
    margin-top: 80%;
  }
}

/* --------- Editor styles--------------------------------------------- */

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 1vh;
  text-align: center;
}

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color: lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
  min-height: 30vh;
  margin-top: 1px;
}
.toolbar-class {
  border: 1px solid #ccc;
}

.remove-toolbar {
  border: 1px solid #ccc;
  display: none;
}
.preview {
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
}
/* --------graph data presentation */
.text-center {
  text-align: center;
  color: green;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}
